name: Maite_Ladaria_penguin_task
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - flask
  - requests
  - joblib
  - pip
  - pip:
      - gunicorn
